.Banner {
  background: linear-gradient(0deg, rgba(40, 5, 107, 0.8) 0%, rgba(40, 5, 107, 0.7) 100%), url("../../../public/images/bg/main-banner.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
